<div>
    <ul id="detail_info_ul">
        <li class="detail_li">
            <span style="color:red">장소명</span> : <span>{{placeName}}</span>
        </li>
        <li class="detail_li">
            <span style="color:red">전화번호</span> : <span>{{phone}}</span>
        </li>
        <li class="detail_li">
            <span style="color:red">위도</span> : <span>{{longtitude}}</span>
        </li>
        <li class="detail_li">
            <span style="color:red">경도</span> : <span>{{latitude}}</span>
        </li>
    </ul>
</div>


<div>
    <span>Daum 지도 바로가기 URL</span>
    <br>
    <a href={{placeUrl}} target="_blank">
        <span>{{placeUrl}}</span>
    </a>
</div>
